.centrar{
    text-align: center;
    top: 50%;
}

ion-content{
    --ion-background-color: #fff;
}

.background-container{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(../../../assets/duoc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
}

.letra{
    color: #fff;
}

.centrarblanco{
    text-align: center;
    top: 80%;
    color: dodgerblue;
}