.centrar{
    text-align: center;
    top: 50%;
}

ion-content{
    --ion-background-color: #fff;
}

.background-container{
    height: 95vh;
    width: 100%;
    display: flex;
    background: url(../../../assets/duoc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;
}

.centrarblanca{
    text-align: center;
    top: 50%;
    color: #fff;
}

.coloricono1{
    color:deepskyblue;
}
.coloricono2{
    color:chartreuse;
}
.coloricono3{
    color:red;
}