<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf= "listado">

      <div *ngFor= "let item of listado">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="centrado"><ion-label><ion-icon name="location-outline"></ion-icon> Viaje a {{item[0].destino}}</ion-label></ion-card-title>
          </ion-card-header>
          <img src="https://img.freepik.com/vector-premium/navegacion-aplicacion-hay-destino-llegar-al-mapa-gps-destino_403715-36.jpg" class="ion-padding" />
        <ion-item>
          <ion-label><ion-icon name="bag-check-outline"></ion-icon> Patente: {{item[0].patente}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> <ion-icon name="person-circle-outline"></ion-icon> Nombre Chofer: {{item[0].nombre}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="speedometer-outline"></ion-icon> Detalles Del Vehiculo: {{item[0].detalle}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="people-outline"></ion-icon> Disponibilidad: {{item[0].disponibilidad}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="stopwatch-outline"></ion-icon> Hora Salida: {{item[0].hora}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="wallet-outline"></ion-icon> Precio: {{item[0].precio}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="wallet-outline"></ion-icon> Fono: {{item[0].fono}}</ion-label>
        </ion-item>
        <br>
        <div class="centrado">
        <ion-button (click)="agregarpasajero()"  color="success" shape="round" >
          Solicitar Viaje
        </ion-button>
      </div>
        <hr>

      </ion-card>
      <br>
      </div>
  </div>

</ion-content>
