<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud de pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>


















    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Hyundai Veloster</ion-card-subtitle>
        <ion-card-title>San pedro / Coronel</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/Veloster.jpg"></ion-img>
      <ion-card-content>
        Nombre Chofer: Ángelo Ferrari <br>
        Patente vehiculo: MM-MM-99<br>
        Pasajeros en el viaje: 2/4<br>
        Hora de salida: 14:50<br>
        Precio: $1000 <br>
        Detalle viaje: Finalizado <br>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Chevrolet Corsa</ion-card-subtitle>
        <ion-card-title>Hualpén</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/corsa.jpg"></ion-img>
      <ion-card-content>
        Nombre Chofer: Oscar Cañuelas <br>
        Patente vehiculo: MM-MM-99<br>
        Pasajeros en el viaje: 4/4<br>
        Hora de salida: 14:50<br>
        Precio: $1000 <br>
        Detalle viaje: En curso <br>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Hyundai Elantra</ion-card-subtitle>
        <ion-card-title>Talcahuano</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/elantra.jpg"></ion-img>
      <ion-card-content>
        Nombre Chofer: Ardis Zippan <br>
        Patente vehiculo: MM-MM-99<br>
        Pasajeros en el viaje: 1/4<br>
        Hora de salida: 14:50<br>
        Precio: $1000 <br>
        Detalle viaje: Finalizado <br>
      </ion-card-content>
    </ion-card> -->